<style>
    auswahl > div {
        width: 100%;
        height: 250px;
        background-color: #FFE1C7;
    }

    auswahl img {
        width: 100%;
        height: 100%;
        display: block;
    }

    auswahl > div > div {
        height: 70%;
        box-shadow: 2px 2px 5px 0px rgba(122,122,122,0.55);
        border-top: 4px solid #A63333;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #DFFFDF;
        text-align: center;
    }
    @media screen and (max-width: 850px){
        auswahl > div {
            height: 200px;
            layout: column;
        }
    }
    @media screen and (max-width: 650px){
        auswahl > div {
            height: 150px;
        }
    }
    @media screen and (max-width: 400px){
        auswahl > div {
            height: 120px;
        }
    }
</style>

<div layout="row" layout-align="space-around center">
    <div flex="20" layout="column" layout-align="center center" ng-click="$ctrl.blockAuswahl('BTCT', $event);">
        <img flex src="resources/icons/Titel Text.svg">
    </div>
    <div flex="20" layout="column" layout-align="center center" ng-click="$ctrl.blockAuswahl('BBCT', $event)">
        <img flex src="resources/icons/Titel Bild Text.svg">
    </div>
    <div flex="20" layout="column" layout-align="center center" ng-click="$ctrl.blockAuswahl('BBTL', $event)">
        <img flex src="resources/icons/BildLTextR.svg">
    </div>
    <div flex="20" layout="column" layout-align="center center" ng-click="$ctrl.blockAuswahl('BBTR', $event)">
        <img flex src="resources/icons/BildRTextL.svg">
    </div>
    <!--
    <titel-center-text titel="Andreas jojojo" text="Template Titel-Text Block"></titel-center-text>
    <bild-center-text titel="Andreas jojojo" text="Template Titel-Text Block" bild="https://cdn1.medicalnewstoday.com/content/images/articles/318/318774/a-woman-practicing-yoga-on-the-beach.jpg" ></bild-center-text>
    <bild-text-left titel="Andreas jojojo" text="Template Titel-Text Block" bild="https://cdn1.medicalnewstoday.com/content/images/articles/318/318774/a-woman-practicing-yoga-on-the-beach.jpg" ></bild-text-left>
    <bild-text-right titel="Andreas jojojo" text="Template Titel-Text Block" bild="https://cdn1.medicalnewstoday.com/content/images/articles/318/318774/a-woman-practicing-yoga-on-the-beach.jpg" ></bild-text-right>
    -->
</div>