<div ng-cloak>
    <div class="list-group">
        <a href="#" class="list-group-item active">
            Profilseite bearbeiten
            <a href="#" class="list-group-item">
            </a>

            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Hinzufügen" id="popupContainer">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Hinzufügen</h1>
                            <div ng-hide="$ctrl.ausgewaehlt" layout="row">
                                <h2><b>Bitte wählen Sie einen Vorlagenblock aus</b></h2>
                            </div>
                            <auswahl ausgewaehlt="$ctrl.getBlock(ausgewaehlt)"></auswahl>

                            <form name="$ctrl.formular" ng-show="$ctrl.ausgewaehlt">
                                <div layout="column">
                                <div flex="60" layout="row">
                                    <span style="margin-bottom: auto; margin-top: auto; font-size: 2rem"><b>Titel:</b></span>
                                    <div flex="5"></div>
                                    <md-input-container style="margin-bottom: 0; width: 100%; height: auto;">
                                        <input type="text" ng-model="$ctrl.titel" ng-change="$ctrl.updateValidity()" name="titel" required minlength="3">
                                        <div ng-messages="$ctrl.formular.titel.$error">
                                            <div ng-message="required">Wecken Sie mit einem auffälligen Titel das Interesse.</div>
                                            <div ng-message="minlength">Ihr Titel sollte mindestens 3 Zeichen lang sein.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div flex="60" layout="row" style="margin-bottom: 20px;">
                                    <span style="margin-bottom: auto; margin-top: auto; font-size: 2rem"><b>Beschreibung:</b></span>
                                    <md-input-container style="margin-bottom: 0; width: 100%; height: auto;">
                                        <textarea ng-model="$ctrl.beschreibung" ng-change="$ctrl.updateValidity()" name="beschreibung" md-maxlength="500" style="font-size: large" required minlength="5" md-select-on-focus></textarea>
                                        <div ng-messages="$ctrl.formular.beschreibung.$error">
                                            <div ng-message="required">Ein Titel alleine fällt doch etwas mager aus, nicht?</div>
                                            <div ng-message="minlength">Die Beschreibung sollte mindestens 5 Zeichen lang sein (Mehr wären besser).</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <span style="font-size: 2rem"><b>Schriftfarbe auswählen:</b></span>
                                <div md-color-picker ng-model="$ctrl.color"></div>
                                <span style="font-size: 2rem"><b>Hintergrundfarbe auswählen:</b></span>
                                <div md-color-picker ng-model="$ctrl.backgroundC"></div>
                                <span ng-if="$ctrl.showFileChooser">Erlaubte Datentypen: <b>alle Bildformate</b></span>
                                <file-chooser ng-if="$ctrl.showFileChooser" file-chosen="$ctrl.getFile(file)"></file-chooser>
                            <div align="center">
                            <md-button style="margin-top: 15px;" ng-click="$ctrl.checkFormular();" ng-show="$ctrl.ausgewaehlt" class="md-primary md-raised">Speichern</md-button>
                            <md-button ng-show="$ctrl.ausgewaehlt" class="md-warn md-raised">Abbrechen</md-button>
                            </div>
                                </div>
                            </form>
                        </md-content>
                    </md-tab>
                    <md-tab label="Bearbeiten">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Bearbeiten</h1>
                            <div>

                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Löschen">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Löschen</h1>
                            <div>

                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </a>
    </div>
</div>