<md-card style="background-color: inherit; color: inherit;">
<div class="row flaeche" style="margin-left: 0; color: inherit;">
    <div class="x" ng-click="$ctrl.removeBlock()" ng-hide=""></div>
    <div class="col-sm-12 col-lg-10 col-lg-push-1" style="color: inherit;">
        <div style="text-align: left; margin: 50px 0 50px; color: inherit;">
            <h2 class="title-color toph2" style="text-align: center; margin-bottom: 10px" ng-bind="$ctrl.titel"></h2>
            <div class="row" style="color: inherit;">
                <div class="row__parallel-sm row__parallel-md row__parallel-lg" style="color: inherit;">
                    <div style="text-align: center; border-bottom: solid rgba(0,0,0, 1) 1px">
                        <img class="image-center preview-image" onerror="this.src='resources/pictures/no_preview.jpg'" style="object-fit: cover;" src="{{$ctrl.bild}}">
                    </div>
                    <div style="margin: 10px; color: inherit;">
                        <p class="topp" style="color: inherit;" ng-bind="$ctrl.text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</md-card>

<style>

    @media screen and (max-width: 700px){
        .image-center{
            width: 60% !important;
            height: 60% !important;
        }
    }
    @media screen and (max-width: 450px){
        .image-center{
            width: 70% !important;
            height: 70% !important;
        }
    }
    @media screen and (max-width: 600px){
        .toph2{
            font-size: 40px !important;
        }
        .topp{
            font-size: 1.3em !important;
        }
    }


</style>