<md-card style="background-color: inherit; color: inherit;">
<div class="row flaeche" style="margin-left: 0px; color: inherit;">
    <div class="x md-cancel-button" ng-hide=""></div>
    <div class="col-sm-12 col-lg-10 col-lg-push-1" style="color: inherit;">
        <div style="text-align: right; margin: 50px 0 50px">
        <div class="row">
        <div class="row__parallel-sm row__parallel-md row__parallel-lg" style="color: inherit;">
            <div class="col-sm-7 col-md-8" style="color: inherit;">
                <h2 class="toph2 title-color" ng-bind="$ctrl.titel"></h2>
                <p class="topp" style="color: inherit;" ng-bind="$ctrl.text"></p>
            </div>
            <div style="height: 100%; border-right: solid rgba(0,0,0, 1) 1px;"></div>
            <div class="col-sm-5 col-md-4">
                <div>
                    <img class="image-right preview-image" onerror="this.src='resources/pictures/no_preview.jpg'" style="object-fit: cover" src="{{$ctrl.bild}}">
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
</md-card>