<md-card>
<div class="row flaeche" style="margin-left: 0px; background-color: #FC6">
    <div class="col-sm-12 col-lg-10 col-lg-push-1">
        <div style="text-align: left; margin: 50px 0 50px">
        <div class="row">
        <div class="row__parallel-sm row__parallel-md row__parallel-lg">
            <div class="col-sm-5 col-md-4" style="border-right: solid rgba(0,0,0, 1) 1px">
                <div>
                    <img class="image-right" style="object-fit: cover" src="{{$ctrl.bild}}">
                </div>
            </div>
            <div class="col-sm-7 col-md-8">
                <h2 class="title-color" ng-bind="$ctrl.titel"></h2>
                <p ng-bind="$ctrl.text"></p>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
</md-card>