<div class="row flaeche">
    <div class="col-sm-12 col-lg-10 col-lg-push-1">
        <div style="text-align: left; margin: 50px 0 50px">
            <h2 class="title-color" style="text-align: center; margin-bottom: 10px" ng-bind="$ctrl.titel"></h2>
            <div class="row">
                <div class="row__parallel-sm row__parallel-md row__parallel-lg">

                    <div style="text-align: center; border-bottom: solid black 1px">
                        <img class="image-center" ng-src="$ctrl.bild">
                    </div>
                    <div style="margin: 10px">
                        <p ng-bind="$ctrl.text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>