<div ng-cloak>
    <div class="list-group">
        <a href="#" class="list-group-item active">
            EDIT
            <a href="#" class="list-group-item">
        </a>

    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Hinzufügen">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Hinzufügen</h1>
                    <auswahl></auswahl>
                    <div>
                        <md-input-container flex="60" layout="row">
                            <span style="margin-bottom: auto; margin-top: auto">Titel:</span>
                            <input type="text">
                        </md-input-container>
                        <md-input-container layout="row">
                            <span>Beschreibung:</span>
                            <textarea></textarea>
                        </md-input-container>
                        <file-chooser></file-chooser>
                    </div>
                    <md-button class="md-primary">Speichern</md-button>
                    <md-button class="md-primary">Abbrechen</md-button>
                </md-content>
            </md-tab>
            <md-tab label="Bearbeiten">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Bearbeiten</h1>
                    <div>

                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Löschen">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Löschen</h1>
                    <div>

                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
        </a>
    </div>
</div>