<nav class="navbar navbar-default" style="color:black;margin-bottom: 0; background-color: #98ff98; border: none; border-radius: unset;">
    <div class="container-fluid" style="display:flex; align-items:center; margin-top: auto; margin-bottom: auto;">
        <h1 style="margin:10px 0 10px 10px; text-align: left; color: white">
            <img id="navbar-image" alt="Brand"  style=" height: 70px; padding-right: 15px"src="resources/pictures/blume-des-lebens3.png" >
            <a id="navbar-text" style="color:black; text-decoration: none" href="index.php">yogaparty</a>
        </h1>
        <div flex></div>
    </div>
</nav>
<div style=" padding-top: 50px; text-align: center">
    <img alt="yogaparty" style=" height: 400px;" src="resources/pictures/blume-des-lebens3.png" >
    <h1 style="font-size: 100px">Coming Soon!</h1>
    <h2 style="font-size: 50px">yogaparty</h2>
    <hr class="my-4">
    <md-button style="margin: 0 auto;" class="btn btn-primary" data-toggle='modal' data-target='#weiter'>Weiter zur Seite</md-button>
</div>
<div>
    <div class="modal fade in" id="weiter" tabindex="-1" role="dialog" aria-labelledby="weiter">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h1 class="modal-title" id="myModalLabel1">Eingabe</h1>
                    </div>
                    <div class="modal-body">
                        <p>Bitte das super geheime Passwort eingeben.</p>
                        <div class="form-group">
                            <span>Passwort:</span><input type="password" class="form-control" ng-model="$ctrl.passwd">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.weiter()">Weiter</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>