<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<div class="wrapper">
    <nav id="sidebar">
        <div id="dismiss">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <h3>yogaparty</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Home 1</a></li>
                    <li><a href="#">Home 2</a></li>
                    <li><a href="#">Home 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        <ul class="list-unstyled components2">

            <li><a href="#">Impressum</a></li>

        </ul>

    </nav>
    <nav class="navbar navbar-default" style="color:black;margin-bottom: 0px; background-color: #98ff98; border: none; border-radius: unset;">
        <div class="container-fluid" style="display:flex; align-items:center; margin-top: auto; margin-bottom: auto;">
            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" style=""
                        class="btn btn-link collapsed">
                    <span style="font-size: 35px; color: black;" class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
            </div>
            <h1 style="margin-left:10px; margin-bottom:10px; margin-top:10px; text-align: left; color: white"><img alt="Brand"  style=" height: 70px; padding-right: 15px"src="resources/pictures/blume-des-lebens3.png" ><a style="color:black; text-decoration: none" href="index.php">yogaparty</a></h1>
        </div>
    </nav>

</div>


<div class="overlay"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').fadeOut();
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').fadeIn();
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>