<div class="test">
    <div style="margin-left: 15px">
        <span>Daten</span>
    </div>
    <div class="test2">
        <div class="glyphicon glyphicon-edit" style="font-size: 21px;">
        </div>
    </div>
</div>
<br>
<div layout="column" layout-align="center center" style="background-color: rgb(250,250,250)">
    <form style="width: 55%">
        <div>
            <div layout="row">
                <div class="form-group" flex>
                    <span>Vorname:</span>
                    <input class="form-control" type="text" ng-model="$ctrl.vname" ng-pattern="/^[a-zA-Z -]+$/"/>
                </div>
                <div class="form-group" flex style="margin-left: 10px">
                    <span>Nachname:</span>
                    <input class="form-control" type="text" id="nname"/>
                </div>
            </div>
            <br>
            <div class="form-group">
                <span>Email:</span>
                <input class="form-control" type="email" id="email"/>
            </div>
            <br>
            <div class="form-group">
                <span>Passwort:</span>
                <input class="form-control" type="password" ng-model="$ctrl.passwort"/>
            </div>
            <br>
            <div class="form-group">
                <span>Passwort wiederholen:</span>
                <input class="form-control" type="password" ng-model="$ctrl.passwortWH"/>
            </div>
            <br>
            <div class="form-group">
                <span>Adresse:</span>
                <input class="form-control" type="text" id="adresse"/>
            </div>
            <br>
            <div class="form-group">
                <span>Kurzbeschreibung:</span>
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <br>
        <div layout="row" layout-align="center center">
            <button class="btn btn-primary" type="submit" ng-click="$ctrl.ueberpruefen()">Speichern</button>

            <button class="btn btn-danger" type="reset" style="margin-left: 10px">Abbrechen</button>
        </div>
    </form>
</div>

