<div>
    <div class="card hovercard" style="height: 25vh">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="resources/pictures/header-bild.jpg">
        </div>
        <div class="useravatar">
            <img alt="" class="pb-image" src="resources/pictures/header-bild.jpg" ng-click="$ctrl.changepicture()">
            <input type="file" style="visibility: hidden" accept="image/*" class="form-control">
        </div>
        <div class="card-info"> <span class="card-title" name="vname">{{$ctrl.getRequest.vorname}} {{$ctrl.getRequest.nachname}}</span>
        </div>
    </div>
</div>