<md-list flex>
    <md-divider></md-divider>
    <md-subheader>Frau Musterfrau - <span class="label label-default">15.3.2018</span></md-subheader>
    <md-list-item class="md-7-line">
        <div class="md-list-item-text" layout="column">
            <h4><a href="#" style="text-decoration: none; color: black;"><b>Das neue Yogastudio neben der HTL Rennweg hat heute eröffnet</b></a></h4>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader>Herr Mustermann - <span class="label label-default">19.4.2018</span></md-subheader>
    <md-list-item class="md-7-line">
        <div class="md-list-item-text" layout="column">
            <h4><a href="#" style="text-decoration: none; color: black;"><b>Der Yogakurs für Jugendliche wird etwas billiger</b></a></h4>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader>Frau Musterfrau - <span class="label label-default">5.2.2018</span></md-subheader>
    <md-list-item class="md-7-line">
        <div class="md-list-item-text" layout="column">
            <h4><a href="#" style="text-decoration: none; color: black;"><b>Die neuen Yoga-Artikel sind diese Woche eingetroffen</b></a></h4>
        </div>
    </md-list-item>
    <md-divider></md-divider>
</md-list>