<md-list flex >
    <div layout="row" layout-align="center center">
    <md-button style="margin: 0 auto;" class="md-primary md-raised" data-toggle='modal' data-target='#hinzufuegen'>Ankündigung hinzufügen</md-button>
    </div>
    <div ng-repeat="newseintrag in $ctrl.newseintraege">
        <div><md-subheader>{{newseintrag.vorname}} {{newseintrag.nachname}} - <span class="label label-default">{{newseintrag.datum}}</span></md-subheader></div>
        <button type="button" style="float: right" class="close btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-show="$ctrl.options"><span class="glyphicon glyphicon-option-vertical"></span></button>
        <ul class="dropdown-menu" style="position: relative; float: right">
            <!--<li><a ng-click="$ctrl.test()">Hinzufuegen</a></li>-->
            <li><a data-toggle='modal' data-target='#{{newseintrag.id}}'>Bearbeiten</a></li>
            <li><a ng-click="$ctrl.delete(newseintrag.id)">Loeschen</a></li>
        </ul>
        <div>
            <md-list-item class="md-7-line">
                <div class="md-list-item-text" layout="column">
                    <h4><a href="#" style="text-decoration: none; color: black;" data-toggle='modal' data-target='#{{newseintrag.id}}2'><b>{{newseintrag.titel}}</b></a></h4>
                </div>
            </md-list-item>
        </div>
        <md-divider></md-divider>
        <div>
            <div class="modal fade in" id="{{newseintrag.id}}2" tabindex="-1" role="dialog" aria-labelledby="anzeigen">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header" layout="row" layout-align="space-between center">
                                <h4 class="modal-title" id="myModalLabel1">{{newseintrag.titel}}</h4>
                                <div flex></div>
                                <h4 class="modal-title">{{newseintrag.datum}}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">

                                <div>{{newseintrag.beschreibung}}</div>

                                </div>

                                <div class="modal-footer">

                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="modal fade in" id="{{newseintrag.id}}" tabindex="-1" role="dialog" aria-labelledby="{{newseintrag.titel}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form>
                                <div class="modal-header">
                                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>-->
                                    <h4 class="modal-title" id="myModalLabel2">{{newseintrag.titel}}</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div><span>Titel:</span><input type="text" class="form-control" ng-model="$ctrl.temp[newseintrag.id].titel"><br></div>
                                        <span>Beschreibung:</span><textarea class="form-control" style="height: 500px; width: 100%"  ng-model="$ctrl.temp[newseintrag.id].beschreibung"></textarea>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.update(newseintrag.id)">Save</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<md-divider></md-divider>
    <md-subheader>Herr Mustermann - <span class="label label-default">19.4.2018</span></md-subheader>
    <md-list-item class="md-7-line">
        <div class="md-list-item-text" layout="column">
            <h4><a href="#" style="text-decoration: none; color: black;" data-toggle='modal' data-target='#news2'><b>Der Yogakurs für Jugendliche wird etwas billiger</b></a></h4>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader>Frau Musterfrau - <span class="label label-default">5.2.2018</span></md-subheader>
    <md-list-item class="md-7-line">
        <div class="md-list-item-text" layout="column">
            <h4><a href="#" style="text-decoration: none; color: black;" data-toggle='modal' data-target='#news3'><b>Die neuen Yoga-Artikel sind diese Woche eingetroffen</b></a></h4>
        </div>
    </md-list-item>
    <md-divider></md-divider>-->
</md-list>

<div>
    <div class="modal fade in" id="hinzufuegen" tabindex="-1" role="dialog" aria-labelledby="hinzufuegen">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <div class="dropdown">
                            <!--<button type="button" style="float: left" class="close btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-option-vertical"></span></button>-->
                        </div>
                        <!--<h4 class="modal-title" id="myModalLabel1">{{$ctrl.getRequest.titel}}</h4>-->
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <span>Titel:</span><input type="text" class="form-control" ng-model="$ctrl.titel"><br>
                            <span>Beschreibung:</span><textarea class="form-control" style="height: 500px; width: 100%" ng-model="$ctrl.beschreibung"></textarea>
                            <!--<span ng-hide="$ctrl.addgeklickt">Beschreibung:</span><textarea class="form-control" style="height: 500px; width: 100%" ng-disabled="$ctrl.geklickt" ng-hide="$ctrl.addgeklickt">{{$ctrl.getRequest.bezeichnung}}</textarea>-->


                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.add()">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


